.VSCodeCounter/*
*.xlsx
debug.log
release.md
.vs/

# ignoring doc works for now
/docs/_site

# PowerShell Studio
*.TempPoint.*
*.Export.*
*.psprojs
*.psproj
*.RestorePoint.*
*.Run.ps1
*.Package.ps1
CustomMenu.inf