---
title: TestResult
parent: Ticket Systems
grand_parent: Types
---

# TestResult

**Kind:** class  
**Full name:** `Thycotic.PowerShell.TicketSystems.TestResult`  
**Namespace:** `Thycotic.PowerShell.TicketSystems`  

## Constructors

- `new()` _(default)_

## Properties

| Name | Type | Access | Default |
|---|---|---|---|
| `ErrorMessage` | `string` | read/write | - |
| `Success` | `bool` | read/write | - |
